global:
  cloudProvider: {}
  tracing: {}
  metrics: {}
  environment: ''
  jobDefinitions: {}
  storage:
    tilesStorageProvider: ""
    s3:
      secretName: ""
    fs:
      internalPvc:
        name: ""
        mountPath: ""
        tilesSubPath: ""
  serviceUrls:
    mapproxyApi: ""
    jobManager: ""
    heartbeatManager: ""
  redis: {}
  ca:    
    caSecretName: ''
    caPath: '/usr/local/share/ca-certificates'
    caKey: 'ca.crt'
  gracefulReloadMaxSeconds: 300

storage: # local service level
  tilesStorageProvider: ""
  s3:
    secretName: ""
    createSecret: false
    accessKeyId: # used only when creating secret (when secretName is empty)
    secretAccessKey: # used only when creating secret (when secretName is empty)
  fs:
    internalPvc:
      name: ""
      mountPath: ""
      tilesSubPath: ""

redis: # same hierarchy as in mapproxy-api values
  auth:
    enableRedisUser: false
    username: ""
    password: ""
  tls: false  

secretName: ""
enabled: true
environment: development
replicaCount: 1
revisionHistoryLimit: 5 # Amount of revisions we keep
nodePort: 30030 #for minikube deployment only
resetOnConfigChange: false

nameOverride: ""
fullnameOverride: ""

livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

mclabels:
  #environment: development
  component: backend
  partOf: ingestion
  owner: raster
  gisDomain: raster
  prometheus:
    enabled: true
    port: 8080

podAnnotations: {}

extraVolumes: []

extraVolumeMounts: []

extraEnvVars: []

command: []
args: []
# command: [ "/bin/sh", "-c", "--" ]
# args: [ "while true; do sleep infinity; done;" ]

sidecars: []

cloudProvider:
  dockerRegistryUrl: 
  imagePullSecretName: ''
  flavor: openshift

serviceUrls:
  mapproxyApi: ""
  jobManager: ""
  heartbeatManager: ""
  jobTracker: ""

tracing:
  enabled: false
  url: ''

metrics:
  enabled: false
  url: ''
  
image:
  repository: cache-seeder
  tag: 'latest'
  pullPolicy: Always

jobDefinitions:
  jobs:
    seed:
      type: ''
  tasks:
    seed:
      type: ''

env:
  port: 8080
  targetPort: 8080
  protocol: TCP
  logLevel: info
  logPrettyPrintEnabled: false
  responseCompressionEnabled: true
  requestPayloadLimit: 1mb
  
  queue:
    heartbeat:
      heartbeatIntervalMs: 3000
    dequeueIntervalMs: 2000
  seedAttempts: 5
  seedConcurrency: 5
  mapproxyCmdCommand: "mapproxy-seed"
  refreshBeforeYearsOffset: 1
  invalidBboxInitialBufferMeters: 200
  invalidBboxRetryLimit: 5

resources:
  enabled: true
  value:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 500Mi

